:root {
  /* Fonts */
  --font-sans: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-sans-alt: "Varta", system-ui, sans-serif;
  --font-mono: "Fira Code", monospace;

  /* Font sizes */
  --fs-h1: 3.2em;
  --fs-xxl: 2rem;
  --fs-xl: 1.75rem;
  --fs-lg: 1.25rem;
  --fs-md: 1.12rem;
  --fs-base: 1rem;
  --fs-sm: 0.85rem;
  --fs-xs: 0.75rem;
  --fs-xxs: 0.65rem;

  /* Colors */
  --white-rgb: 255 255 255;
  --black-rgb: 0 0 0;
  --color-white: #ffffff;
  --accent-rgb: 248 55 216; /* pink accent */
  --brand-purple: #7e50f8;
  --border-light: #ddd;
  --panel-purple-rgb: 82 69 150;
  --soft-pink-rgb: 251 131 207;
  --link: rgb(var(--soft-pink-rgb) / 0.82);
  --link-hover: rgb(var(--soft-pink-rgb) / 1);
  --color-bg: #170F49;
  --color-text: rgb(var(--white-rgb) / 0.87);
  --color-error: #b91c1c;

  /* Global typography and rendering */
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;
  text-shadow: 2px 2px 4px rgb(var(--black-rgb) / 0.8);

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --anim-duration: 0.65s;
  --anim-function: cubic-bezier(0.65, 0, 0.35, 1);

}

#root {
  flex: 1;
  background-image: linear-gradient(to bottom right, rgba(23, 15, 73, 0.0), rgba(0, 0, 0, 0.75));
}

a {
  font-weight: 500;
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(./assets/background.png);

  @media (max-aspect-ratio: 1/1) {
    background-image: url(./assets/background_portrait.png);
  }
}

code {
  font-family: var(--font-mono);
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--fs-h1);
  line-height: 1.1;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
