:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #170F49;

  background-image: url(./assets/background.png);
  background-size: cover;
  background-attachment: fixed;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --anim-duration: 0.65s;
  --anim-function: cubic-bezier(0.65, 0, 0.35, 1);
}

#root {
  flex: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
}

@media (min-width: 768px) {
  body {
    background-image: linear-gradient(to bottom right, rgba(23, 15, 73, 0.0), rgba(0, 0, 0, 0.75));
    background-attachment: fixed;
  }
}

code {
  font-family: "Fira Code", monospace;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes slide-from-bottom {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-top {
  0% {
    transform: translateY(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-from-left {
  0% {
    transform: translateX(-100vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100vh);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
